div.user {
    border:1px solid black;
    padding:10px;
}
div.user div {
    cursor: pointer;
}
div.user.selected {
    background-color: greenyellow;
}
title{
    color: green;
    font-size: 20px;
}